html,
body{
  height: 100%;
}
body{
  @extend %manrope-400;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  line-height: 26px;
  color: $default;
  background-color: $bg;
}
.main{
  flex-grow: 1;
}
img{
  object-fit: cover;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title{
  @extend %manrope-800;
  font-size: 36px;
  line-height: 64px;
  color: $title;
}
a {
  font-style: normal;
}
.breadcrumbs{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  &__list{
    display: flex;
  }
  &__item{
    @extend %helvetica-400;
    color: #222;
    padding-right: 20px;
    position: relative;
    &::after{
      content: '/';
      position: absolute;
      font-size: 19px;
      right: 8px;
      top: 1px;
    }
    &:last-child{
      padding-right: 0;
      &::after{
        display: none;
      }
    }
  }
  &__link{
    color: inherit;
  }
}
.pagination{
  display: flex;
  justify-content: flex-end;
  padding: 30px 0;
  &__list{
    display: flex;
    align-items: center;
    padding: 0 35px;
  }
  &__item{
    width: 46px;
    height: 46px;
    margin-right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6;
  }
  &__item--active{
    background-color: $accent;
  }
  &__link{
    @extend %roboto-500;
    font-size: 20px;
    line-height: 23px;
    color: #bbb;
  }
  &__link--active{
    color: #fff;
  }
}

